####################
### App Settings ###
####################
AppSettings:
  # Level at of which the bot will start displaying logging information. Valid logging
  # levels are as follows in order from most output to least output:
  #  - ALL
  #  - TRACE
  #  - DEBUG
  #  - INFO
  #  - WARN
  #  - ERROR
  #  - FATAL
  #  - OFF
  logLevel: INFO

  # The name that this worker will send back to the bot for display in the work queue
  # showing what media is currently being encoded and its progress.
  workerName: "encoder-01"

  # The API URL for the main Plexbot that is providing the API for the worker agents to connect to
  apiAddress/mp-rest/url: "http://127.0.0.1:8080"

  # The username to authenticate with the API with
  username: someuser

  # The password to authenticate with the bot API with
  password: somepass

  # Set the Constant Rate Factor that is used by the encoder to encode media with. Valid options are
  # 0 through 51. Generally, the higher the number, the smaller the end file however the worse the quality
  # of the video file.
  crf: 23

  # Enables support for hardware acceleration when being used on windows systems that have AMD or Nvidia GPU cards.
  # This setting only has an effect on Windows platforms. The following options are available:
  #  - none         Disables hardware acceleration.
  #  - amd          Enables hardware acceleration for AMD GPU cards.
  #  - nvidia       Enables hardware acceleration for Nvidia GPU cards.
  accelerationHardware: none

  # The folder that is used for temporary file operations
  tempFolder: /path/to/temp/folder/